.App{
background: linear-gradient(to right, #8243a7, #33263f, #33263f, #8243a7);
height:100vh;
display: flex;
justify-content: center;
align-items: center;

}
.main-div{
  background-color: white;
  width: 70%;
  height: 75%;
  border-radius: 5px;
  border: #8243a7 solid 2px;
  
}
.input-field{
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.input-todo{
   width: 80%;
   height: 40px;
   border-radius: 6px;
   border: 1px black solid;


 
}
.add-btn{
  border-radius: 8px;
  background-color: #8243a7;
  border: none;
  width: 55px;
height: 35px;
cursor: pointer;
margin-left: 20px;

}
.todos-head{
  margin-left: 20px;
}
.add-btn:hover {
  background-color: #33263f;
  color: white;
}
.edit-add-btn{
  border-radius: 8px;
    background-color: #8243a7;
    border: none;
    width: 55px;
    height: 35px;
    cursor: pointer;
    /* margin-left: 430px; */
    
    
    
}
.edit-delete-btn{
  margin-left: 8px;
  display: flex;
}
.edit-add-btn:hover{
  background-color: rgb(77, 204, 61);
}

.delete-add-btn{
border-radius: 8px;
background-color: #8243a7;
border: none;
width: 55px;
height: 35px;
cursor: pointer;
margin-left: 20px;

}
.delete-add-btn:hover {
  background-color: red;
}
.todo-btns{
  position: absolute;
  margin-left: 300px;
  margin-bottom: 430px;
}
.todos {
  display: flex;
  width: 110vh;
  height: 60vh;
  background-color: #8952ac;
  margin-left:20px;
  border-radius: 8px;


}
.tasks{
   margin-left: 20px;
  margin-top: 10px;
  display: flex;
 
}
.head{
  position:absolute;
  margin-bottom: 600px;
  color:#c6b8ce;
  
}
.btn-div{
  margin-left: 300px;
  display: flex;
    
    align-items: center;
}
li{
  margin: 10px;
}
ul{
  list-style: none;
}


.clear-all{
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 400px;
  border-radius: 10px;
  background-color: rgb(211, 87, 87);
border: none;
cursor: pointer;

}
.remaining-text{
  
  margin-top: 10px;
  display: flex;
  gap: 170px;
  align-items: center;
  justify-content: center;
}
li {
  width: 80vh;
  height: 60px;
  background-color: #c18be0;
  border: 1px solid black;
  border-radius: 15px;
  padding-top: 5px;
  


}
.flew{
  display: flex;
}
.check{
  margin-top: -8px;
}
.inner-todo{
  width: 190vh;
  /* background-color: #dad3e0; */
  /* text-overflow: inherit; */
  word-break: break-all;
  overflow: auto;
  max-height: 55px;
  

}